[user]
	name = Razzi Abuissa
	email = razzi53@gmail.com
[push]
	default = current
[credential]
	helper = osxkeychain
[alias]
	start = !git init && hub create
	add = add --all
	wdiff = diff --color-words
	cl = clone
	unstage = reset HEAD --
	new = diff --cached
[core]
	excludesfile = ~/.gitignore_global
  editor=vim
[pull]
	rebase = true
[rebase]
	stat = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	algorithm = patience
